.header_navigation_container {
    display: flex;             /* Enable Flexbox */
    flex-direction: row;       /* Arrange child elements in a row (default behavior) */
    justify-content: space-evenly; /* Align items to the left (default) */
    align-items: center;       /* Vertically align items in the center */
    gap: 50px;                 /* Add space between items */
    width: 100%;
    margin-top: 50px;
    padding: 0px;
    line-height: 0px;
    box-sizing: border-box;
    flex-wrap: wrap;
}


.header_name{
    font-family: "Questrial", serif;
    font-size: 50px;
    font-weight: normal;
    color: #000000;
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

.logo_container{
    
    display: flex;             /* Enable Flexbox */
    flex-direction: row;       /* Arrange child elements in a row (default behavior) */
    justify-content: center; /* Align items to the left (default) */
    align-items: center;       /* Vertically align items in the center */
    gap: 50px;                 /* Add space between items */
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    
    
}
.logo_image{
    width: 100px; 
    height: 100px; 
    image-rendering: pixelated;
    animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

.header_navigation_button{
    font-family: "Questrial", serif;
    font-size: 36px;
    font-weight: normal;
    color: #333;
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}


@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
